<link rel="stylesheet" href="/css/change_password.css" />

<div class="outer-container">
  <h2>Reset Password</h2>

  <form action="/users/change-password/<%= userId %>" method="post">
    <label for="password"> Enter New Password </label>

    <input
      type="password"
      name="password"
      placeholder="New Password"
      required
    />
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>
