<form action="/users/change-password/<%= userId %>" method="post">
  <input
    type="password"
    name="password"
    placeholder="Enter new password"
    required
  />
  <input type="submit" value="Reset Password" />
</form>
