<link rel="stylesheet" href="/css/home.css" />

<div class="home-container">
  <div class="left-container">
    <a href="/users/sign-in">Sign In</a>
  </div>
  <div class="right-container">
    <a href="/users/sign-up">Sign Up</a>
  </div>
</div>
