<link rel="stylesheet" href="/css/reset_password.css" />

<div class="outer-container">
  <h2>Forgot Password?</h2>

  <form
    action="/users/reset-password/<%= resetPasswordToken.accessToken %>"
    method="post"
  >
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password" required />
    <label for="confirm_password">Confirm Password</label>
    <input
      type="password"
      name="confirm_password"
      placeholder="Confirm Password"
      required
    />
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>
