<link rel="stylesheet" href="/css/user_sign_in.css" />

<div class="login-form-container">
  <h1>Sign In</h1>

  <button
    onclick="window.location='/users/auth/google'"
    type="button"
    class="btn btn-outline-dark"
  >
    <img
      src="https://cdn-icons-png.flaticon.com/512/300/300221.png"
      alt="google-logo"
    />
    Log in with Google
  </button>

  <div class="or-container">
    <hr />
    <span> Or </span>
    <hr />
  </div>

  <form id="login-form" action="/users/create-session" method="POST">
    <label for="email"> Email </label>
    <input
      id="login-email"
      type="email"
      name="email"
      placeholder="Enter Your Email"
      required
    />
    <label for="password"> Password </label>
    <input
      id="login-password"
      type="password"
      name="password"
      placeholder="Password"
      required
    />

    <a href="/users/forgot-password"> forgot password</a>
    <div
      class="g-recaptcha"
      data-sitekey="6LcVgVEjAAAAAB0mdcxgNpLZ0ICKlI4w0QelPemq"
    ></div>

    <input
      id="signin-submit-btn"
      type="submit"
      class="btn btn-primary"
      value="Sign In"
    />
  </form>
</div>
