.outer-container {
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 30%;
  margin: 100px auto;
  padding: 30px;
  box-shadow: -1px 1px 10px 1px grey;

  h2 {
    margin-bottom: 40px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    display: block;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
  }

  button {
    margin-top: 10px;
    width: 70%;
  }
}
