.container {
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 30%;
  margin: 100px auto;
  padding: 30px;
  box-shadow: -1px 1px 10px 1px grey;

  h2 {
    margin-bottom: 40px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  a {
    font-size: 1.2rem;
    text-decoration: none;
  }
}
