.outer-container {
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 30%;
  margin: 100px auto;
  padding: 30px;
  box-shadow: -1px 1px 10px 1px grey; }
  .outer-container h2 {
    margin-bottom: 40px; }
  .outer-container label {
    display: block;
    margin-bottom: 5px; }
  .outer-container input {
    display: block;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%; }
  .outer-container button {
    margin-top: 10px;
    width: 70%; }
