<!-- mail template -->
<div>
  <p>
    Hi <%= forgotPasswordToken.user.name %>, Click on the link to reset password
  </p>
  <p>
    <%=forgotPasswordLink%>/users/forgot-password-reset/<%=
    forgotPasswordToken.accessToken %>
  </p>
</div>
