<!-- mail template -->
<div>
  <p>
    Hi <%= forgotPasswordToken.user.name %>, Click on the link to reset password
  </p>
  <p>
    https://auth-system.onrender.com/users/forgot-password-reset/<%=
    forgotPasswordToken.accessToken %>
  </p>
</div>
