<div>
  <p>
    Hi <%= resetPasswordToken.user.name %>, Click on the link to reset password
  </p>
  <p>
    http://localhost:8000/users/reset-password/<%=
    resetPasswordToken.accessToken %>
  </p>
</div>
